<h1>Round {{game.currentRound}} of {{game.numPlayers}}</h1>

<form class="form-inline" ng-submit="newPresent()">
  <input type="text" ng-model="presentDescription"  size="30"
         placeholder="Add new present name">
  <input class="btn btn-primary" type="submit" value="New Present">
</form>


<h2>Up For Grabs</h2>
<table class="table">
  <tbody>
    <tr ng-repeat="present in presents | filter:{stolenThisRound: false} | orderBy:'description'">
      <td>{{present.description}} (total steals: {{present.totalSteals}})</td>
      <td>
        <form ng-submit="stealPresent('{{present.$id}}')">
          <input type="submit" class="btn btn-primary" value="Steal">
        </form>
      </td>
    </tr>
  </tbody>
</table>

<h2>Already Stolen This Round</h2>
<table class="table">
  <tbody>
    <tr ng-repeat="present in presents | filter:{stolenThisRound: true} | orderBy:'description'">
      <td>{{present.description}} (total steals: {{present.totalSteals}})</td>
      <td>
        <form ng-submit="unstealPresent('{{present.$id}}')">
          <input type="submit" class="btn btn-primary" value="UnSteal">
        </form>
      </td>
    </tr>
  </tbody>
</table>

